<div id="dvLeftBarMenuWrapper" style="position:fixed;left:0px;top:56px;bottom:0px;width:300px;background:pink;overflow:auto">

    <ul id="ulMenu" style="position:absolute;width:100%;bottom:40px;top:0px;background:pink;display:block">
    </ul>

   
</div>

